/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* Define styles for the header */
header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 5rem;
}

/* Define styles for the sidebar */
nav {
    background-color: #9b6218;
    color: #fff;
    width: 200px;
    float: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Define styles for the content area */
main {
    margin-left: 220px; /* 200px for sidebar + 20px for padding */
    padding: 20px;
}

section {
    background-color: #fff;
    border: 1px solid #eddfc4;
    padding: 20px;
}

.profile {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.circle-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.inquiry-form {
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin: 1rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Define styles for the footer */
footer {
    clear: both;
    background-color: #eddfc4;
    color: #333;
    text-align: center;
    padding: 5rem;
}

.footer-links {
    list-style-type: none;
}